<a href="https://colab.research.google.com/github/alvy3/OOP-2-lab/blob/master/OOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**First python program**

In [2]:
print("Alvy")

Alvy


**Variables and Assignment statements**

In [4]:
a=5
b=8
print(a+b)

13

In [6]:
name="Md"
name2="Alvy"
print(name,name2)

Md Alvy

**Type**

In [7]:
a=20
type(a)

int

In [8]:
type(3.1416)

float

In [9]:
type(name)

str

**Arithmetic operators**

In [10]:
sum=5+5
print(sum)

10

In [11]:
sub=10-20
print(sub)

-10

In [12]:
multi=5*5
print(multi)

25

In [14]:
exponentiation=10**2
print(exponentiation)

100

**True division vs Floor divition**

In [16]:
True_division=10/8
print(True_division)

1.25

In [17]:
Floor_division=10//8
print(Floor_division)

1

In [19]:
remainder=10%5
print(remainder)

0

**IF STATEMENT**

In [20]:
mark=75
if mark>=33:
  print("passed")

passed

**IF ELSE STATEMENT**

In [23]:
mark=int(input("Enter the mark: "))
if mark>=33:
  print("passed")
else:
   print("Fail")

Enter the mark: 90
passed

**CONDITIONAL EXPRESION**

In [26]:

result=('passed' if mark>=33 else 'Failed')
print(result)

passed

**IF...ELIF..ELSE STATEMENT**

In [27]:
mark=int(input("Enter the marks: "))
if mark>=80:
   print('A+')
elif mark>=75:
  print('A')
elif mark>=70:
  print('A-')
elif mark>=65:
   print('B+')
elif mark>=60:
  print('B')
elif mark>=55:
  print('C+')
elif mark>=50:
  print('C')
elif mark>=45:
  print('D+')
elif mark>=40:
  print('D')
else:
  print('F')

Enter the marks: 70
A-

**WHILE STATEMENT**

In [29]:
num=int(input("Enter the number: "))
while (num<=10):
  print(num, end=" ")
  num+=1

Enter the number: 4
4 5 6 7 8 9 10

**while statement to find the first power of 3 larger than 50:**

In [30]:
product =int(input("Enter the number: "))

while product<=50:
  product = product*3
print(product)

Enter the number: 30
90

**For statement**

In [32]:
for character in "Alvy":
  print(character, end=" ")

A l v y

**Built in Range Function**

In [36]:
for counter in range(10):
  print(counter, end=" ")

0 1 2 3 4 5 6 7 8 9

In [37]:
n=int(input("Enter the number: "))
for left in range(n):
    for right in range(left,n):
        print("["+str(left)+"|"+str(right)+"]", end =" ")
    print()

Enter the number: 5
[0|0] [0|1] [0|2] [0|3] [0|4]
[1|1] [1|2] [1|3] [1|4]
[2|2] [2|3] [2|4]
[3|3] [3|4]
[4|4]

**Break statement**

In [38]:
n=int(input("Enter the number: "))
for number in range(n):
  if  number==5:
    break
  print(number, end=" ")

Enter the number: 2
0 1

**Continue statement**

In [45]:
n=int(input("Enter the range: "))
for number in range(n):
  if  number==5:
    continue
  print(number, end=" ")

Enter the range: 4
0 1 2 3

**uri problem solve Extremely basic**

In [40]:
a1 = int(input())
b2 = int(input())
x = a1 + b2
print("X = %i"% x)

2
3
X = 5

**uri problem Area of circle**

In [41]:
raio=float(input())

area=(raio*raio)*3.1416
print("A=%0.4f"%area)

4
A=50.2656

**uri problem solveDifference**

In [43]:
a1= int(input())
a2= int(input())
a3= int(input())
a4= int(input())

difference=((a1 * a2) - (a3 * a4))

print("DIFERENCA = %d" %difference)

2
2
2
2
DIFERENCA = 0

**Age in Days uri problem solve**

In [44]:
n= int(input())
a = n / 365
rA = n % 365
rM = rA % 30
m = rA / 30
d = rM % 30
print("{} ano(s)".format(int(a)))
print("{} mes(es)".format(int(m)))
print("{} dia(s)".format(int(d)))

2
0 ano(s)
0 mes(es)
2 dia(s)